<!DOCTYPE html>
<html lang="en">
  <head>
   {% include 'base/header.html.twig' %}
    
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        {% include 'base/sidebar-requisitos-elsalvador.html.twig' %}

        <!-- top navigation -->
         <div class="top_nav">
        {% include 'base/topbar.html.twig' %}
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Requisitos para El Salvador</h3>
              </div>

              
            </div>
            
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Reporte del pais</h2>
                   
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="col-md-4 col-sm-4 col-xs-14 profile_left">
                      <div class="profile_img">
                        <div id="crop-avatar">
                          <!-- Current avatar -->
                          <img class="img-responsive avatar-view" src="{{ asset('uploads/requisitos/' ~ informacion.mapa       )}}">
                        
                        </div>
                      </div>
                      <h3><i class="fa fa-map-marker user-profile-icon"></i> {{informacion.paisid.paisnombre}}</h3>

                      <ul class="list-unstyled user_data">
                        <li>
                        </li>

                        
                      </ul>

                    
                      <br />

                    
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-10">

                     
                      <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                          <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Requisitos de ingreso</a>
                          </li>
                          <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Visa requerida</a>
                          </li>
                          <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Requisitos medicos</a>
                          </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                          <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

                           <!-- start  -->
                            <table class="data table table-striped no-margin">
                              <thead>
                                <tr>
                                  <th>Detalles</th>
                                  
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>{{informacion.pasaportedestino|nl2br|raw}}</td>
                                  
                                </tr>
                            
                              </tbody>
                            </table>
                            <!-- end  -->

                          </div>
                          <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">

                            <!-- start  -->
                            <table class="data table table-striped no-margin">
                              <thead>
                                <tr>
                                  <th>Detalles</th>
                                  
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>{{informacion.visadestino}}</td>
                                  
                                </tr>
                            
                              </tbody>
                            </table>
                            <!-- end  -->

                          </div>
                          <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                            <!-- start  -->
                            <table class="data table table-striped no-margin">
                              <thead>
                                <tr>
                                  <th>Detalles</th>
                                  
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>{{informacion.destinosalud}}</td>
                                  
                                </tr>
                            
                              </tbody>
                            </table>
                            <!-- end  -->
                              
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                                  </br>
                                   </br>
                                   
                                  <a href="{{path('requisitos_editar_informacion', {'id': informacion.id})}}">
                                      <button type="button" class="btn btn-danger btn-lg">
                                          Editar requisitos de {{informacion.paisid.paisnombre}}
                                      </button>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
          {% include 'base/footer.html.twig' %}
     
        <!-- /footer content -->
      </div>
    </div>

  {% include 'base/scripts.html.twig' %}
  

  </body>
</html>