<div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
            
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>Navegación</h3>
                <ul class="nav side-menu">
                    
                    <li><a href="{{path('homepage')}}"><i class="fa fa-home" ></i> 
                              Página principal</a></li>
                              
                             
                              
                          <h3>General</h3>
{% if app.request.get('_route') == 'paises_listado_general'
 or app.request.get('_route') == 'paises_agregar_nuevo'
 or app.request.get('_route') == 'paises_ver_informacion'
 or app.request.get('_route') == 'paises_agregar_nuevo'
 or app.request.get('_route') == 'paises_editar_informacion'
%}
                               <li><a href="{{path('paises_listado_general')}}"><i class="fa fa-sort-alpha-asc" ></i> 
                              Categoría de países</a>
                               </li>
                              
                               {%if is_granted('ROLE_ADMIN')%}
                               <li><a href="{{path('paises_agregar_nuevo')}}"><i class="fa fa-edit" ></i> 
                              Agregar categoria de país</a>
                               </li>
                              {%endif%}
                            {%endif%}
                          </br>  
                          {% if app.request.get('_route') == 'reporte_paises_documentos_validos' or app.request.get('_route') == 'reporte_paises_requisitos_de_viaje'%}
                              <h3>Reportes</h3>
                               <li><a href="{{path('reporte_paises_documentos_validos')}}"><i class="fa fa-sort-alpha-asc" ></i> 
                              Documentos válidos</a>
                               </li>
                               <li><a href="{{path('reporte_paises_requisitos_de_viaje')}}"><i class="fa fa-plane" ></i> 
                              Requisitos para viajar</a>
                               </li>
                            {%endif%}
                            
                            
                            {% if app.request.get('_route') == 'usuarios_sistema_listado_general' 
                            or app.request.get('_route') == 'crear_nuevo_usuario'%}
                            
                            
                              <h3>Reportes</h3>
                               <li><a href="{{path('usuarios_sistema_listado_general')}}">
                                       <i class="fa fa-sort-alpha-asc" ></i> 
                                       Lista de usuarios
                                   </a>
                               </li>
                               <li><a href="{{path('crear_nuevo_usuario')}}"><i class="fa fa-plane" ></i> 
                              Crear un usuario</a>
                               </li>
                            {%endif%}
                            
                      <li><a href="{{path('fos_user_security_logout')}}"><i class="fa fa-sign-out" ></i> 
                              Salir del sistema</a></li>
                              </ul>
              </div>
                              
              <div class="menu_section">
              </div>

            </div>
          </div>
        </div>