<!DOCTYPE html>
<html lang="en">
   <head>
    {% include 'base/header.html.twig' %}
    
    <style>
        .promo-block {
  position: relative;
  z-index: 1;
  text-align: center;
 
  background-size: cover;
  background-position: center center;
  padding: 150px 150px 110px;
}

.promo-block:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(81, 87, 105, 0.4);
  content: " ";
}

.promo-block .promo-block-title {
  font-size: 70px;
  color: #fff;
}

@media (max-width: 480px) {
  .promo-block .promo-block-title {
    font-size: 50px;
  }
}

.promo-block .promo-block-text {
  font-size: 25px;
  color: #fff;
}
        </style>
        
         <!-- Datatables -->
    <link href="{{ asset('assets/datatables.net-bs/css/dataTables.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/datatables.net-buttons-bs/css/buttons.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/datatables.net-responsive-bs/css/responsive.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/datatables.net-scroller-bs/css/scroller.bootstrap.min.css')}}" rel="stylesheet">
    
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        {% include 'base/sidebar-consulados.html.twig' %}

        <!-- top navigation -->
        <div class="top_nav">
        {% include 'base/topbar.html.twig' %}
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div align="right">
                 <a href="{{path('consulado_listado_general')}}">
                 <button type="button" class="btn btn-danger btn-lg">
                   <i class="fa fa-building"></i>
                   Realizar otra búsqueda</button>
                 </a>
                 
             </div>
          <div class="">
              
              
            
            <div class="clearfix"></div><div class="promo-block" style="background: url({{ asset('uploads/mapas/' ~ redconsular.nombremapa)}}) no-repeat;">
                        <div class="container">
                        <div class="margin-b-40">
                          <h1 class="promo-block-title">{{redconsular.paisid.paisnombre}}</h1>
                          <p class="promo-block-text">Representaciones Diplomáticas</p>
                        </div>

                        </div>
                    </div>  
               <div class="row">
                
            </div>
            <div class="row">
              
                    
                    
                   
             
             <div class="col-md-12">
                <div class="x_panel">
                    
                  <div class="x_content">
                      
                     <div class="row">
                          
                      <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        
                      </div>

                      <div class="clearfix"></div>
<table id="datatable" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Red consular</th>
                          <th>Ciudad</th>
                          <th>Opciones</th>
                        
                          
                        </tr>
                      </thead>


                      <tbody>
                          {%for m in consulados%}
                        <tr >
                          <td>{{m.nombre}}</td>
                       <td>{{m.ciudad}}</td>
                          <td><button type="button"
                                      class="btn btn-danger" 
                                      data-toggle="modal"
                                      data-target=".bs-example-modal-{{m.id}}">Ver información</button>
</td>

<div class="modal fade bs-example-modal-{{m.id}}" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">

                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                          </button>
                          <h4 class="modal-title" id="myModalLabel"><b>{{m.nombre}}</b></h4>
                        </div>
                        <div class="modal-body">
                            <div>
                          <h4><i class="fa fa-group"></i> <b>Personal:</b></h4>
                          <p style="color:black">{{m.personal}}</p>
                        
                          
                          <h4><i class="fa fa-globe"></i> <b>Jurisdicción:</b></h4>
                          <p style="color:black">{{m.jurisdiccion}}</p>
                        
                          
                          <h4><i class="fa fa-road"></i> <b>Dirección:</b></h4>
                          <p style="color:black">{{m.direccion}}</p>
                        
                          
                          <h4><i class="fa fa-map-marker"></i> <b>Ciudad:</b></h4>
                          <p style="color:black">{{m.ciudad}}</p>
                        
                          <h4><i class="fa fa-edit"></i> <b>Correos electrónicos:</b></h4>
                          <p style="color:black">{{m.correo}}</p>
                          
                          
                            <h4><i class="fa fa-fax"></i> <b>Información:</b></h4>
                          <p style="color:black">{{m.informacionconsulado}}</p>
                        
                          
                            <h4><i class="fa fa-folder-open"></i> <b>Información adicional:</b></h4>
                          <p style="color:black">{{m.informacionadicional}}</p>
                          
                            </div>
                        </div>
                        
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" 
                                  data-dismiss="modal">Cerrar</button>
                          </div>

                      </div>
                    </div>
                  </div>
                          </tr>
                        {%endfor%}
                        
                     
                      </tbody>
                    </table>
                        {#
                      {%for m in consulados%}
                      <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                        <div class="well profile_view">
                          <div class="col-sm-12">
                            <h4 class="brief"><strong> {{m.nombre}}</strong> </h4>
                            <div class="left col-xs-12">
                              
                              <p><strong>Personal: </strong> {{m.personal}} </p>
                              </br>
                              {%if m.jurisdiccion != null%}
                               <p><strong>Jurisdicción: </strong> {{m.jurisdiccion}} </p>
                               </br>
                               {%endif%}
                               
                               <p><i class="fa fa-building"></i> <strong>Dirección:</strong>  {{m.direccion}}</p>
                               </br>
                              
                              <p>
                               <i class="fa fa-phone"></i> <strong>Ciudad:</strong>  {{m.ciudad}}
                              </p>
                               </br>
                             <p><strong>Teléfonos: </strong> {{m.telefono}} </p>
                              </br>
                              
                              <p><strong>Correos electrónicos: </strong> {{m.correo}} </p>
                              </br>
                              
                              
                              <p><strong>Información: </strong> {{m.informacionconsulado}} </p>
                              </br>
                              
                              
                               <ul class="list-unstyled">
                               <li></li>
                                
                                <li></li>
                              </ul>
                                 
                                
                              
                                
                                
                            </div>
                            <div class="right col-xs-5 text-center">
                            
                            </div>
                          </div>
                          <div class="col-xs-10">
                           
                              <p><strong>Información adicional: </strong> {{m.informacionadicional}} </p>
                              </br>
                            
                            
                          </div>
                        </div>
                      </div>
                      {%endfor%}
                    #}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div>                  
            <a href="{{path('consulado_agregar')}}?id={{redconsular.id}}">
                <button type="button" class="btn btn-danger btn-lg"><i class="fa fa-edit"></i> 
                    Agregar consulado</button></a>
        </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
         {% include 'base/footer.html.twig' %}
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    
    {% include 'base/scripts.html.twig' %}
    
    <!-- Datatables -->
    <script src="{{ asset('assets/datatables.net/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('assets/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script>
    <script src="{{ asset('assets/datatables.net-buttons/js/dataTables.buttons.min.js')}}"></script>
    <script src="{{ asset('assets/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')}}"></script>
    <script src="{{ asset('assets/datatables.net-buttons/js/buttons.flash.min.js')}}"></script>
    <script src="{{ asset('assets/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>
    <script src="{{ asset('assets/datatables.net-buttons/js/buttons.print.min.js')}}"></script>
    <script src="{{ asset('assets/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')}}"></script>
    <script src="{{ asset('assets/datatables.net-keytable/js/dataTables.keyTable.min.js')}}"></script>
    <script src="{{ asset('assets/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>
    <script src="{{ asset('assets/datatables.net-responsive-bs/js/responsive.bootstrap.js')}}"></script>
    <script src="{{ asset('assets/datatables.net-scroller/js/dataTables.scroller.min.js')}}"></script>
    <script src="{{ asset('assets/jszip/dist/jszip.min.js')}}"></script>
    <script src="{{ asset('assets/pdfmake/build/pdfmake.min.js')}}"></script>
    <script src="{{ asset('assets/pdfmake/build/vfs_fonts.js')}}"></script>

   <!-- Custom Theme Scripts -->
    <script src="{{ asset('assets/js/custom.min.js')}}"></script>
  </body>
</html>