<!DOCTYPE html>
<html lang="en">
   <head>
    {% include 'base/header.html.twig' %}
    
    <style>
        .promo-block {
  position: relative;
  z-index: 1;
  text-align: center;
 
  background-size: cover;
  background-position: center center;
  padding: 250px 250px 200px;
}

.promo-block:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(81, 87, 105, 0.4);
  content: " ";
}

.promo-block .promo-block-title {
  font-size: 70px;
  color: #fff;
}

@media (max-width: 480px) {
  .promo-block .promo-block-title {
    font-size: 50px;
  }
}

.promo-block .promo-block-text {
  font-size: 25px;
  color: #fff;
}
        </style>
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        {% include 'base/sidebar-consulados.html.twig' %}

        <!-- top navigation -->
        <div class="top_nav">
        {% include 'base/topbar.html.twig' %}
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            
          <div class="">
              
              
            
            <div class="clearfix"></div><div class="promo-block" style="background: url({{ asset('uploads/mapas/' ~ redconsular.nombremapa)}}) no-repeat;">
                        <div class="container">
                        <div class="margin-b-40">
                          <h1 class="promo-block-title">{{redconsular.paisid.paisnombre}}</h1>
                          <p class="promo-block-text">Representaciones Diplomáticas</p>
                        </div>

                        </div>
                    </div>  
               <div class="row">
                
            </div>
            <div class="row">
              
                    
                    
                   
             
             <div class="col-md-12">
                <div class="x_panel">
                    
                  <div class="x_content">
                      
                     <div class="row">
                          
                      <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                        
                      </div>

                      <div class="clearfix"></div>

                      {%for m in consulados%}
                      <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                        <div class="well profile_view">
                          <div class="col-sm-12">
                            <h4 class="brief"><strong> {{m.nombre}}</strong> </h4>
                            <div class="left col-xs-12">
                              
                              <p><strong>Personal: </strong> {{m.personal}} </p>
                              </br>
                              {%if m.jurisdiccion != null%}
                               <p><strong>Jurisdicción: </strong> {{m.jurisdiccion}} </p>
                               </br>
                               {%endif%}
                               
                               <p><i class="fa fa-building"></i> <strong>Dirección:</strong>  {{m.direccion}}</p>
                               </br>
                              
                              <p>
                               <i class="fa fa-phone"></i> <strong>Ciudad:</strong>  {{m.ciudad}}
                              </p>
                               </br>
                             <p><strong>Teléfonos: </strong> {{m.telefono}} </p>
                              </br>
                              
                              <p><strong>Correos electrónicos: </strong> {{m.correo}} </p>
                              </br>
                              
                              
                              <p><strong>Información: </strong> {{m.informacionconsulado}} </p>
                              </br>
                              
                              
                               <ul class="list-unstyled">
                               <li></li>
                                
                                <li></li>
                              </ul>
                                 
                                
                              
                                
                                
                            </div>
                            <div class="right col-xs-5 text-center">
                            
                            </div>
                          </div>
                          <div class="col-xs-10">
                           
                              <p><strong>Información adicional: </strong> {{m.informacionadicional}} </p>
                              </br>
                            
                            
                          </div>
                        </div>
                      </div>
                      {%endfor%}
                    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div>                  
            <a href="{{path('consulado_agregar')}}?id={{redconsular.id}}"><button type="button" class="btn btn-danger btn-lg">Agregar consulado</button></a>
        </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="../vendors/nprogress/nprogress.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="../build/js/custom.min.js"></script>
  </body>
</html>