<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'base/header.html.twig' %}
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
       {% include 'base/sidebar.html.twig' %}

        <!-- top navigation -->
        <div class="top_nav">
          {% include 'base/topbar.html.twig' %}
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3 style="font-size: 46px; font-weight: bold;">{{informacion.paisid.paisnombre}} <small>  </small></h3>
             </br> </div>

            
            
            </div>
            
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Información sobre el país</h2>
                    
                    <div class="clearfix"></div>
                  </div>

                  <div class="x_content">

                    <div class="col-md-9 col-sm-8 col-xs-12">

                      <ul class="stats-overview">
                        <li>
                          <span class="name"> Categoría ordinario </span>
                          <span class="value text-success" style="font-size: 22px; color: black;"> 
                              {{informacion.categoriaordinarioid.categorianombre}} ({{informacion.categoriaordinarioid.categoriadescripcion}})
                          </span>
                        </li>
                        <li>
                          <span class="name"> Categoría diplomático </span>
                          <span class="value text-success" style="font-size: 22px; color: black;"> 
                              {{informacion.categoriadiplomaticoid.categorianombre}} ({{informacion.categoriadiplomaticoid.categoriadescripcion}})
                          </span>
                        </li>
                        
                        <li>
                          <span class="name"> Observaciones </span>
                          <span class="value text-success" style="font-size: 14px; color: #cc3300;"> 
                              {{informacion.observaciones}}
                          </span>
                        </li>
                       
                      </ul>
                      <br />

                      <div   style="height:550px;"> <img src="{{ asset('uploads/mapas/' ~ mapa.nombremapa)}}" height="600px"></div>
                       
                      <div>

                       

                        <!-- end of user messages -->
                        <ul class="messages">
                         
                          <li>
                            <div class="message_wrapper">
                               
                              <br />
                              <br />
                              <br />
                             
                            </div>
                          </li>
                        </ul>
                        <!-- end of user messages -->


                      </div>


                    </div>

                    <!-- start project-detail sidebar -->
                    <div class="col-md-3 col-sm-3 col-xs-12">

                      <section class="panel">
                          <center><img src="{{ asset('uploads/banderas/' ~ informacion.banderaid.nombrebandera)}}"></center>
                          </br>
                       
                        <div class="x_title">
                          <h2>Información Básica</h2>
                          <div class="clearfix"></div>
                        </div>
                        <div class="panel-body">
                            
                            <div class="project_detail">

                            <p class="title" style="font-size: 14px;">Código ISO:</p>
                            <p style="font-size: 18px; color: black; font-weight: bold;">{{informacion.codigoiso}} </p>
                            
                            <p class="title" style="font-size: 14px;">Capital:</p>
                            <p style="font-size: 18px; color: black; font-weight: bold;">{{informacion.capital}}</p>
                            
                            
                            <p class="title" style="font-size: 14px;">Idioma:</p>
                            <p style="font-size: 18px; color: black; font-weight: bold;">{{informacion.idioma}}</p>
                            
                            <p class="title" style="font-size: 14px;">Forma de gobierno:</p>
                            <p style="font-size: 18px; color: black; font-weight: bold;">{{informacion.formagobierno}}</p>
                            
                             <p class="title" style="font-size: 14px;">Legislacion:</p>
                            <p style="font-size: 18px; color: black; font-weight: bold;">{{informacion.legislacion}}</p>
                            
                             <p class="title" style="font-size: 14px;">Moneda:</p>
                            <p style="font-size: 18px; color: black; font-weight: bold;">{{informacion.moneda}}</p>
                            
                             <p class="title" style="font-size: 14px;">Población:</p>
                            <p style="font-size: 18px; color: black; font-weight: bold;">{{informacion.poblacion}} habitantes</p>
                            
                            
                          </div>
                                                    <br />

                          

                          <br />
                         
                          <br />

                                
                        </div>

                      </section>

                    </div>
                    <!-- end project-detail sidebar -->

                  </div>
                </div>
              </div>
            </div>
          </div>
                            {%if is_granted('ROLE_ADMIN')%}
                </br>            
               <a href="{{ path('paises_editar_informacion', { 'id':  informacion.id }) }}"> 
                <button type="button" class="btn btn-success btn-sm">Editar información</button>
                </a>
                {%endif%}
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
         {% include 'base/footer.html.twig' %}
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    {% include 'base/scripts.html.twig' %}
  </body>
</html>