<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'base/header.html.twig' %}
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
      {% include 'base/sidebar.html.twig' %}

        <!-- top navigation -->
        <div class="top_nav">
         {% include 'base/topbar.html.twig' %}
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
<div class="">
          <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Form Design <small>different form elements</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <div id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
{{form_start(form)}}
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Seleccione una categoria:<span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      {{form_widget(form.categoriapasaporteid)}}
    </div>
</div>
      
      
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Seleccione documentos: <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
    {{form_widget(form.nombrepasaporte)}}  
    </div>
</div>

                      
                     
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                         
                            {{form_widget(form.guardar)}}
                        </div>
                      </div>
{{form_end(form)}}
                    </div>
                  </div>
                </div>
              </div>
            </div>   
    </div>
        </div>

 <!-- footer content -->
        <footer>
           {% include 'base/footer.html.twig' %}
        </footer>
        <!-- /footer content -->
      </div>
    </div>

  {% include 'base/scripts.html.twig' %}
    <script src="{{ asset('assets/jqvmap/dist/jquery.vmap.js')}}"></script>
    <script src="{{ asset('assets/jqvmap/dist/maps/jquery.vmap.world.js')}}"></script>
    <script src="{{ asset('assets/jqvmap/examples/js/jquery.vmap.sampledata.js')}}"></script>
    <script>
            $(document).ready(function() {
            $('.select2').select2();
            });
        </script>
  </body>
</html>

            {# empty Twig template #}
