<!DOCTYPE html>
<html lang="en">
  <head>
   {% include 'base/header.html.twig' %}
    {# <link href="{{ asset('assets/simplelightbox/dist/simplelightbox.css')}}" rel="stylesheet">#}
     <link href="{{ asset('assets/lightbox2/dist/css/lightbox.css')}}" rel="stylesheet">

  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        {% include 'base/sidebar-edison.html.twig' %}

        <!-- top navigation -->
         <div class="top_nav">
        {% include 'base/topbar.html.twig' %}
        </div>
        <!-- /top navigation -->


     <!-- page content -->
        <div class="right_col" role="main">
<div align="right">
                 <a href="{{path('edison_listado_general')}}">
                 <button type="button" class="btn btn-danger btn-lg">
                   <i class="fa fa-folder-open"></i>
                    Buscar documentos válidos de viaje de otro país</button>
                 </a>
                 
             </div>
                 </br>
          <div class="">
       <div class="clearfix"></div>

<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">
    
                <div class="x_panel">
                  <div class="x_title">
                    <h2>{{informacion.paisid.paisnombre}}</h2>
                    <div class="clearfix"></div>
                    </div>
                
    
       <div class="x_content">

                    <div class="col-md-12">
                      <div class="pais" >
                          
                          <center>
                        <a href="{{ asset('uploads/edison/mapas/' ~informacion.nombremapa)}}" data-lightbox="mapa" >
                        <img src="{{ asset('uploads/edison/mapas/' ~informacion.nombremapa)}}" alt="..."  width="45%"/>
                      </a>
                          </center>
                      
                      </div>
                      
<div class="ln_solid"></div>
<h2>Pasaportes</h2>
<div class="ln_solid"></div>
                    </div> 
                    <div class="col-md-12">
<div class="clearfix"></div>
                      <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                          <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Nacional</a>
                          </li>
                          <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Diplomático</a>
                          </li>
                          <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Oficial</a>
                          </li>
                          
                            <li role="presentation" class=""><a href="#tab_content4" role="tab" id="profile-tab3" data-toggle="tab" aria-expanded="false">Servicio</a>
                          </li>
           
                          
                          <li role="presentation" class=""><a href="#tab_content5" role="tab" id="profile-tab4" data-toggle="tab" aria-expanded="false">Documento de viaje para refugiado</a>
                          </li>
           
                          <li role="presentation" class=""><a href="#tab_content6" role="tab" id="profile-tab5" data-toggle="tab" aria-expanded="false">Provisional</a>
                          </li>
           
                          
                        </ul>
                        <div id="myTabContent" class="tab-content">
                          <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                            <div class="product_gallery">
                                 <div class="galeria1">
                                {%set counter = 0%}
{%for m in documentos%}
    
    
    {% for s in m.nombrepasaporte%}
       
        {% if m.categoriapasaporteid.id == 1%}
        
         <a href="{{ asset('uploads/edison/pasaportes/' ~s)}}" data-lightbox="nacional">
                          <img src="{{ asset('uploads/edison/pasaportes/' ~s)}}" alt="..." />
                        </a>
                        {%endif%}
     
        {%endfor%}


{%endfor%}
                       
                      </div> 
                      </div>
                          </div>
                          <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                          <div class="product_gallery">
                              <div class="galeria2">
                                {%set counter = 0%}
{%for m in documentos%}
    
    
    {% for s in m.nombrepasaporte%}
       
        {% if m.categoriapasaporteid.id == 2%}
        
         <a href="{{ asset('uploads/edison/pasaportes/' ~s)}}" data-lightbox="diplomatico">
                          <img src="{{ asset('uploads/edison/pasaportes/' ~s)}}" alt="..." />
                        </a>
                        {%endif%}
     
        {%endfor%}

{%endfor%}
                       
                      </div>
                      </div>
                          </div>
                          <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                          
                              <div class="product_gallery">
                                  <div class="galeria3">
                                {%set counter = 0%}
{%for m in documentos%}
    
    
    {% for s in m.nombrepasaporte%}
       
        {% if m.categoriapasaporteid.id == 3%}
        
         <a href="{{ asset('uploads/edison/pasaportes/' ~s)}}" data-lightbox="oficial">
                          <img src="{{ asset('uploads/edison/pasaportes/' ~s)}}" alt="..." />
                        </a>
                        {%endif%}
     
        {%endfor%}

{%endfor%}
                       
                      </div>
                      
                      </div>
                          
                              
                          </div>

                    <div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="profile-tab">

                        <div class="product_gallery">
                                  <div class="galeria4">
                                {%set counter = 0%}
                {%for m in documentos%}


                    {% for s in m.nombrepasaporte%}

                        {% if m.categoriapasaporteid.id == 4%}

                         <a href="{{ asset('uploads/edison/pasaportes/' ~s)}}" data-lightbox="servicio">
                                          <img src="{{ asset('uploads/edison/pasaportes/' ~s)}}" alt="..." />
                                        </a>
                                        {%endif%}

                        {%endfor%}
                

{%endfor%}
                       
                      </div>
                      
                      </div>

                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="tab_content5" aria-labelledby="profile-tab">
<div class="product_gallery">
                                  <div class="galeria5">
                                {%set counter = 0%}
{%for m in documentos%}
    
    
    {% for s in m.nombrepasaporte%}
       
        {% if m.categoriapasaporteid.id == 5%}
        
         <a href="{{ asset('uploads/edison/pasaportes/' ~s)}}" data-lightbox="refugio">
                          <img src="{{ asset('uploads/edison/pasaportes/' ~s)}}" alt="..." />
                        </a>
                        {%endif%}
     
        {%endfor%}


{%endfor%}
                       
                      </div>
                      
                      </div>
                    </div>

                    <div role="tabpanel" class="tab-pane fade" id="tab_content6" aria-labelledby="profile-tab">
<div class="product_gallery" style="padding-top:0;">
                                  <div class="galeria6">
                                {%set counter = 0%}
{%for m in documentos%}
    
    
    {% for s in m.nombrepasaporte%}
       
        {% if m.categoriapasaporteid.id == 6%}
        
         <a href="{{ asset('uploads/edison/pasaportes/' ~s)}}" data-lightbox="provisional">
                          <img src="{{ asset('uploads/edison/pasaportes/' ~s)}}" alt="..." />
                        </a>
                        {%endif%}
     
        {%endfor%}
        

{%endfor%}
         </div>
                      
                      </div>
                    </div>
                        </div>
                      </div>


                    </div>
                  </div>

               
    
</div>

</br>
</br>
    
         </br>
<a class="btn btn-success" href="{{path('edison_pais_agregar_documentos')}}?id={{informacion.id}}"> 
                        Agregar documentos de viaje </a>
</div>
              
              
              
              
              
</div>              
              
              
              
              </div>
            </div>


 <!-- footer content -->
          {% include 'base/footer.html.twig' %}
     
        <!-- /footer content -->
      </div>
    </div>

  {% include 'base/scripts.html.twig' %}
  {#        <script src="{{ asset('assets/simplelightbox/dist/simple-lightbox.js')}}"></script>
{#
          <script>
              	$(function(){
		var $gallery1 = $('.galeria1 a').simpleLightbox();
            });
            
            $(function(){
		var $gallery2 = $('.galeria2 a').simpleLightbox();
            });
            
             $(function(){
		var $gallery3 = $('.galeria3 a').simpleLightbox();
            });
            
            
             $(function(){
		var $gallery4 = $('.galeria4 a').simpleLightbox();
            });
            
            
             $(function(){
		var $gallery5 = $('.galeria5 a').simpleLightbox();
            });
            
             $(function(){
		var $gallery6 = $('.galeria6 a').simpleLightbox();
            });
            
             $(function(){
		var $gallery7 = $('.pais a').simpleLightbox();
            });
          </script>
    #}
          <script src="{{ asset('assets/lightbox2/dist/js/lightbox.js')}}"></script>


  </body>
</html>
