<!DOCTYPE html>
<html lang="en">
  <head>
   {% include 'base/header.html.twig' %}
    {# <link href="{{ asset('assets/simplelightbox/dist/simplelightbox.css')}}" rel="stylesheet">#}
     <link href="{{ asset('assets/lightbox2/dist/css/lightbox.css')}}" rel="stylesheet">
    {% include 'base/edison-style.html.twig' %}
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        {% include 'base/sidebar-edison.html.twig' %}

        <!-- top navigation -->
         <div class="top_nav">
        {% include 'base/topbar.html.twig' %}
        </div>
        <!-- /top navigation -->


     <!-- page content -->
        <div class="right_col" role="main">
<div align="right">
                 <a href="{{path('edison_listado_general')}}">
                 <button type="button" class="btn btn-danger btn-lg">
                   <i class="fa fa-folder-open"></i>
                    Buscar documentos válidos de viaje de otro país</button>
                 </a>
                 
             </div>
                 </br>
          <div class="">
       <div class="clearfix"></div>

<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">
    
                <div class="x_panel">
                  <div class="x_title">
                    <h2>{{informacion.paisid.paisnombre}}</h2>
                    <div class="clearfix"></div>
                    </div>
                
    
       <div class="x_content">

                    <div class="col-md-12">
                      <div class="pais" >
                          
                          <center>
                        <a href="{{ asset('uploads/edison/mapas/' ~informacion.nombremapa)}}" data-lightbox="mapa" >
                        <img src="{{ asset('uploads/edison/mapas/' ~informacion.nombremapa)}}" alt="..."  width="45%"/>
                      </a>
                          </center>
                      
                      </div>
                      
<div class="ln_solid"></div>
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'pasaportes_1')">Pasaportes</button>
  <button class="tablinks" onclick="openCity(event, 'visas_1')">Visas</button>
  <button class="tablinks" onclick="openCity(event, 'sellos_1')">Sellos</button>
</div>



<div id="pasaportes_1" class="tabcontent">
 
  <p>{%include ('AppBundle:Edison:panel-pasaportes-pais.html.twig')%}</p>
  
</div>

<div id="visas_1" class="tabcontent">
   <p>{%include ('AppBundle:Edison:panel-visas-otorgadas.html.twig')%}</p>
</div>

<div id="sellos_1" class="tabcontent">
  {%include ('AppBundle:Edison:panel-sellos-edison.html.twig')%}
</div>
                    </div> 
                    {#here#}
                  </div>

               
    
</div>

</br>
</br>
    
         </br>
<a class="btn btn-success" href="{{path('edison_pais_agregar_documentos')}}?id={{informacion.id}}"> 
                        Agregar documentos de viaje </a>
</div>
              
              
              
              
              
</div>              
              
              
              
              </div>
            </div>


 <!-- footer content -->
          {% include 'base/footer.html.twig' %}
     
        <!-- /footer content -->
      </div>
    </div>

  {% include 'base/scripts.html.twig' %}
 <script src="https://cdn.jsdelivr.net/npm/lozad"></script>

          <script src="{{ asset('assets/lightbox2/dist/js/lightbox.js')}}"></script>
<script>
function openCity(evt, cityName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(cityName).style.display = "block";
    evt.currentTarget.className += " active";
}
</script>

  </body>
</html>
