<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sistema Integrado Migratorio | Documentos válidos de viaje</title>

    <!-- Bootstrap -->
    <link href="{{ asset('assets/bootstrap/dist/css/bootstrap.min.css')}}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="{{ asset('assets/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet">
    <!-- NProgress -->
    <link href="{{ asset('assets/nprogress/nprogress.css')}}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{{ asset('assets/iCheck/skins/flat/green.css')}}" rel="stylesheet">
     <!-- Datatables -->
    <link href="{{ asset('assets/datatables.net-bs/css/dataTables.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/datatables.net-buttons-bs/css/buttons.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/datatables.net-responsive-bs/css/responsive.bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{ asset('assets/datatables.net-scroller-bs/css/scroller.bootstrap.min.css')}}" rel="stylesheet">
    
     <!-- Custom Theme Style -->
    <link href="{{ asset('assets/css/custom.min.css')}}" rel="stylesheet">
    
    
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        {% include 'base/sidebar-edison.html.twig' %}

        <!-- top navigation -->
        <div class="top_nav">
        {% include 'base/topbar.html.twig' %}
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="page-title">
              <div class="title_left">
                <h3>Documentos válidos de viaje</h3><small>De un click sobre un país para ver sus documentos legales</small></br>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  
                </div>
              </div>
            </div>

            <div class="clearfix"></div>
 <div id="world-map" style="width: 100%; height: 700px"></div>
  
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
           {% include 'base/footer.html.twig' %}
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    
    <!-- jQuery -->
    <script src="{{ asset('assets/jquery/dist/jquery.min.js')}}"></script>
    <!-- Bootstrap -->
    <script src="{{ asset('assets/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <!-- FastClick -->
    <script src="{{ asset('assets/fastclick/lib/fastclick.js')}}"></script>
    <!-- NProgress -->
    <script src="{{ asset('assets/nprogress/nprogress.js')}}"></script>
    <!-- iCheck -->
    <script src="{{ asset('assets/iCheck/icheck.min.js')}}"></script>
     <!-- Datatables -->
    <script src="{{ asset('assets/datatables.net/js/jquery.dataTables.min.js')}}"></script>
    <script src="{{ asset('assets/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script>
    <script src="{{ asset('assets/datatables.net-buttons/js/dataTables.buttons.min.js')}}"></script>
    <script src="{{ asset('assets/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')}}"></script>
    <script src="{{ asset('assets/datatables.net-buttons/js/buttons.flash.min.js')}}"></script>
    <script src="{{ asset('assets/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>
    <script src="{{ asset('assets/datatables.net-buttons/js/buttons.print.min.js')}}"></script>
    <script src="{{ asset('assets/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')}}"></script>
    <script src="{{ asset('assets/datatables.net-keytable/js/dataTables.keyTable.min.js')}}"></script>
    <script src="{{ asset('assets/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>
    <script src="{{ asset('assets/datatables.net-responsive-bs/js/responsive.bootstrap.js')}}"></script>
    <script src="{{ asset('assets/datatables.net-scroller/js/dataTables.scroller.min.js')}}"></script>
    <script src="{{ asset('assets/jszip/dist/jszip.min.js')}}"></script>
    <script src="{{ asset('assets/pdfmake/build/pdfmake.min.js')}}"></script>
    <script src="{{ asset('assets/pdfmake/build/vfs_fonts.js')}}"></script>
   
    <script>
        var markers = [
      {latLng: [41.90, 12.45], name: 'Ciudad del Vaticano'},
      {latLng: [43.73, 7.41], name: 'Monaco'},
      {latLng: [-0.52, 166.93], name: 'Nauru'},
      {latLng: [-8.51, 179.21], name: 'Tuvalu'},
      {latLng: [43.93, 12.46], name: 'San Marino'},
      {latLng: [47.14, 9.52], name: 'Liechtenstein'},
      {latLng: [7.11, 171.06], name: 'Islas Marshall'},
      {latLng: [17.3, -62.73], name: 'Saint Kitts y Nevis'},
      {latLng: [3.2, 73.22], name: 'Maldivas'},
      {latLng: [35.88, 14.5], name: 'Malta'},
      {latLng: [12.05, -61.75], name: 'Grenada'},
      {latLng: [13.16, -61.23], name: 'San Vicente y las Granadinas'},
      {latLng: [13.16, -59.55], name: 'Barbados'},
      {latLng: [17.11, -61.85], name: 'Antigua y Barbuda'},
      {latLng: [-4.61, 55.45], name: 'Seychelles'},
      {latLng: [7.35, 134.46], name: 'Palau'},
      {latLng: [42.5, 1.51], name: 'Andorra'},
      {latLng: [14.01, -60.98], name: 'Saint Lucia'},
      {latLng: [6.91, 158.18], name: 'Estados Federados de Micronesia'},
      {latLng: [1.3, 103.8], name: 'Singapur'},
      {latLng: [1.46, 173.03], name: 'Kiribati'},
      {latLng: [-21.13, -175.2], name: 'Tonga'},
      {latLng: [15.3, -61.38], name: 'Dominica'},
      {latLng: [-20.2, 57.5], name: 'Mauricio'},
      {latLng: [26.02, 50.55], name: 'Bahrain'},
      {latLng: [0.33, 6.73], name: 'Santo Tome y Principe', code: 'ST'}
    ];
    $(function(){
      $('#world-map').vectorMap({map: 'world_mill',
      
     
      onRegionClick: function(event, code) 
                {
                    {%for m in data.edison%}
                    if (code === '{{m.codigomapa}}') {
                        window.location = '{{path('edison_ver_informacion')}}?id={{m.id}}';
                    }
                    {% endfor %}
                },
          
                          markers: markers,

        onMarkerClick: function(event, index) {
                      // alter the weburl
                     {%for m in data.edison%}
                    if (markers[index].code === '{{m.codigomapa}}') {
                        window.location = '{{path('edison_ver_informacion')}}?id={{m.id}}';
                    }
                    {% endfor %}
                  }
                
        });
    });
  </script>
   <!-- Custom Theme Scripts -->
    <script src="{{ asset('assets/js/custom.min.js')}}"></script>
    <link rel="stylesheet" href="{{ asset('assets/jvector/jquery-jvectormap-2.0.3.css')}}" type="text/css" media="screen"/>
   
     <script src="{{ asset('assets/jvector/jquery-jvectormap-2.0.3.min.js')}}"></script>
      <script src="{{ asset('assets/jvector/jquery-jvectormap-world-mill_es.js')}}"></script>
</html>